<ion-header>
  <ion-toolbar color="primary">
    <ion-title><ion-icon class="flecha" name="arrow-back" (click)="dismiss()"></ion-icon> Editar Categoria</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="Categoria" (ngSubmit)="actualizarFormulario()">
    <ion-item>
      <ion-label>{{"description" | translate}} </ion-label>
      <ion-input formControlName="descripcion"></ion-input><!-- type="text"-->
    </ion-item>
    <ion-item>
      <ion-label>{{"system" | translate}} </ion-label>
      <ion-input formControlName="sistema"></ion-input><!--type="text" -->
    </ion-item>
    <ion-button type="submit" [disabled]="!Categoria.valid">{{"safe" | translate}} </ion-button>
    <!-- <ion-button (click)="dismiss()">Cancelar</ion-button> -->
  </form>
</ion-content>