<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Participantes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="reg" (ngSubmit)="logForm()">
    <!--formgroup es un binding (recoge todos los valores) se pondra el mismo nombre en el controlador-->
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input type="text" formControlName="nombre"></ion-input>
      <!--dentro de la variable hay un apartado que se llama title (todo.title)-->
      <!--por cada item habra un formControlName-->
    </ion-item>
    <ion-item>
      <ion-label>Apellido</ion-label>
      <ion-input type="text" formControlName="apellido"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Edad</ion-label>
      <ion-input type="text" formControlName="edad"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Grado</ion-label>
      <ion-input type="text" formControlName="grado"></ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-label>Categorias</ion-label>
      <ion-select value="categoria" ok-text="Okay" cancel-text="Dismiss" [(ngModel)]="categoria" multiple="true"
       *ngFor="let item of listPanelCat; let i = index">
        <ion-select-option>{{item.descripcion}}</ion-select-option>
        <ion-select-option>prueba</ion-select-option>
      </ion-select>
    </ion-item> -->
    <ion-button type="submit" [disabled]="!reg.valid">Guardar</ion-button>
  </form>
</ion-content>