<ion-header>
  <ion-toolbar color="primary">
    <ion-title><ion-icon class="flecha" name="arrow-back" (click)="dismiss()"></ion-icon> Editar Participante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="registro" (ngSubmit)="actualizarFormulario()">
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Apellidos</ion-label>
      <ion-input formControlName="apellido"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Edad</ion-label>
      <ion-input formControlName="edad"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Grado</ion-label>
      <ion-input formControlName="grado"></ion-input>
    </ion-item>
    <ion-button type="submit" [disabled]="!registro.valid">Actualizar</ion-button>
    <!-- <ion-button (click)="dismiss()">Cancelar</ion-button> -->
    <ion-button (click)="anadirPuntos()">Puntuacion</ion-button>
  </form>
</ion-content>