<ion-header>
  <ion-toolbar color="primary">
    <ion-title><ion-icon class="flecha" name="arrow-back" (click)="dismiss()"></ion-icon> Editar Participante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="registro" (ngSubmit)="actualizarFormulario()">
    <ion-item>
      <ion-label>{{"name" | translate}} </ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{"surname" | translate}} </ion-label>
      <ion-input formControlName="apellido"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{"age" | translate}} </ion-label>
      <ion-input formControlName="edad"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{"rank" | translate}} </ion-label>
      <ion-input formControlName="grado"></ion-input>
    </ion-item>
    <ion-button type="submit" [disabled]="!registro.valid">{{"safe" | translate}} </ion-button>
    <!-- <ion-button (click)="dismiss()">Cancelar</ion-button> -->
    <ion-button (click)="anadirPuntos()">{{"score" | translate}} </ion-button>
  </form>
</ion-content>