<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-icon class="flecha" name="arrow-back" (click)="dismiss()"></ion-icon> Editar Participante
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="registro" (ngSubmit)="actualizarFormulario()">
    <ion-item>
      <ion-label>{{"name" | translate}} </ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{"surname" | translate}} </ion-label>
      <ion-input formControlName="apellido"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{"age" | translate}} </ion-label>
      <ion-input formControlName="edad"></ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-label>{{"rank" | translate}} </ion-label>
      <ion-input formControlName="grado"></ion-input>
    </ion-item> -->

    <ion-list>
      <ion-item>
        <ion-label>{{"rank" | translate}}</ion-label>
        <ion-select placeholder="Elige una opcion" formControlName="grado">
          <ion-select-option *ngFor="let item of grados;let i = index" value="{{item.grado}}">{{item.grado}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>{{"categories" | translate}}</ion-label>
        <ion-select formControlName="categoria" value="categoria" okText="Aceptar" cancelText="Cancelar">
          <ion-select-option *ngFor="let item of listPanelCat;let i = index" value="{{item.descripcion}}">{{item.descripcion}}</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-list>

    <ion-button type="submit" [disabled]="!registro.valid">{{"safe" | translate}} </ion-button>
    <!-- <ion-button (click)="dismiss()">Cancelar</ion-button> -->
    <ion-button (click)="anadirPuntos()">{{"score" | translate}} </ion-button>
  </form>
</ion-content>