<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row>
      <ion-col float-left>
        <ion-title float-left>{{"list" | translate}}</ion-title>
      </ion-col>
      <ion-col>
        <ion-searchbar #searchBar id="searchBar" showCancelButton cancelButtonText="Custom Cancel" (ionInput)="getFilteredParticipante($event)"
          (ionInput)="getFilteredCategoria($event)"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-toolbar>

  <ion-segment [(ngModel)]="karate" style="background-color:var(--ion-color-primary)" color="light">
    <ion-segment-button layout="icon-start" value="0" style="text-size-adjust:5px; --padding-end:0px;--padding-start:0px"
      value="Participantes">
      {{"competitor" | translate}}
    </ion-segment-button>
    <ion-segment-button layout="icon-start" value="0" style="text-size-adjust:5px; --padding-end:0px;--padding-start:0px"
      value="Categorias">
      {{"category" | translate}}
    </ion-segment-button>

  </ion-segment>
  <div id='indicator' class="SwipedTabs-indicatorSegment" [ngStyle]=" 
    {'width.%': (100/this.tabs.length)}" style="margin-top:2px"></div>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <!-- refrescar -->
    <!-- se ejecuta cuando se ejecuta ionRefresh -->
    <ion-refresher-content pullingIcon="arrow-dropdown" showCancelButton cancelButtonText="Cancelar" pullingText="Arrastra para refrescar"
      refreshingSpinner="crescent" refreshingText="Cargando datos">
    </ion-refresher-content>
  </ion-refresher>

  <ion-slides #slides (ionSlideTransitionStart)="updateIndicatorPosition();updateCat(slides.getActiveIndex())"
    (ionSlideWillChange)="updateIndicatorPosition()" (ionSlideDidChange)="updateIndicatorPosition()" #SwipedTabsSlider
    (ionSlideDrag)="animateIndicator($event)">
    <ion-slide>
      <ion-content class="fixed-scroll">
        <ion-list #dynamicList id="dynamicList">
          <ion-item *ngFor="let item of listPanelPartic;let i = index" (click)="editarParticipante(item.id,item.nombre,item.apellido,item.edad,item.grado,item.categoria)">
            <label>
              <p>{{item.nombre}} {{item.apellido}}</p>
              <p>{{item.grado}}{{item.p1}}</p>
            </label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-slide>
    <ion-slide>
      <ion-content class="fixed-scroll">
        <ion-list #dynamicList id="dynamicList">
          <ion-item *ngFor="let item of listPanelCat;let i = index" (click)="editarCategoria(item.id,item.descripcion,item.sistema)">
            <label>
              <p>{{item.descripcion}}</p>
              <p>{{item.sistema}}</p>
            </label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-slide>
  </ion-slides>
</ion-content>