<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row>
      <ion-col float-left>
        <ion-title float-left>Lista</ion-title>
      </ion-col>
      <ion-col>
        <ion-searchbar #searchBar id="searchBar" showCancelButton cancelButtonText="Custom Cancel" (ionInput)="getFilteredParticipante($event)"
          (ionInput)="getFilteredCategoria($event)"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <!--refrescar-->
    <!--se ejecuta cuando se ejecuta ionRefresh-->
    <ion-refresher-content pullingIcon="arrow-dropdown" showCancelButton cancelButtonText="Cancelar" pullingText="Arrastra para refrescar"
      refreshingSpinner="crescent" refreshingText="Cargando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-segment [(ngModel)]="karate">
    <ion-segment-button layout="icon-start" value="0" style="--padding-end:0px;--padding-start:0px" value="Participantes">
      Participantes
    </ion-segment-button>
    <ion-segment-button layout="icon-start" value="0" style="--padding-end:0px;--padding-start:0px" value="Categorias">
      Categorias
    </ion-segment-button>

  </ion-segment>
  <div [ngSwitch]="karate">
    <ion-list #dynamicList id="dynamicList" *ngSwitchCase="'Participantes'">
      <ion-item *ngFor="let item of listPanelPartic;let i = index" (click)="editarParticipante(item.id,item.nombre,item.apellido,item.edad,item.grado)">
        <label>
          <p>{{item.nombre}} {{item.apellido}}</p>
          <p>{{item.grado}}</p>
        </label>
      </ion-item>
    </ion-list>

    <ion-list #dynamicList id="dynamicList" *ngSwitchCase="'Categorias'">
      <ion-item *ngFor="let item of listPanelCat;let i = index" (click)="editarCategoria(item.id,item.descripcion,item.sistema)">
        <label>
          <p>{{item.descripcion}}</p>
          <p>{{item.sistema}}</p>
        </label>
      </ion-item>
    </ion-list>

  </div>

</ion-content>