<ion-app>
  <ion-split-pane>
    <ion-menu side="start" menuId="custom" class="my-custom-menu">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <!-- <ion-item [routerLink]="[p.url]" [routerDirection]="'root'">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item> -->
            <ion-item (click)="lista()">
              <ion-icon slot="start" name="list"></ion-icon>
              <ion-label style="font-size:0.95rem">{{"list" | translate}}</ion-label>
            </ion-item>
            <ion-item (click)="partic()">
              <ion-icon slot="start" name="person-add"></ion-icon>
              <ion-label style="font-size:0.95rem">{{"add competitors" | translate}}</ion-label>
            </ion-item>
            <ion-item (click)="categ()">
              <ion-icon slot="start" name="add-circle"></ion-icon>
              <ion-label style="font-size:0.95rem">{{"add categories" | translate}}</ion-label>
            </ion-item>
            <ion-item (click)="puntos()">
              <ion-icon slot="start" name="add-circle"></ion-icon>
              <ion-label style="font-size:0.95rem">{{"points" | translate}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-item color="primary" lines="none">
          <ion-icon slot="start" name="moon"></ion-icon>
          <ion-label style="font-size:0.95rem">{{"changeSkin" | translate}}</ion-label>
          <ion-toggle slot="end" [(ngModel)]="skinmenu" (ionChange)="changeSkin($event)"></ion-toggle>
        </ion-item>
        <ion-item color="primary" lines="none">
          <ion-icon slot="start" name="flag"></ion-icon>
          <ion-label style="font-size:0.95rem">{{"changeLang" | translate}}</ion-label>
          <ion-toggle slot="end" [(ngModel)]="langmenu" (ionChange)="changeLang($event)"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-button (click)="vibracion()">Vibracion</ion-button>
        </ion-item>
      </ion-content>
    </ion-menu>

    <ion-router-outlet main></ion-router-outlet>

  </ion-split-pane>
</ion-app>