<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-icon class="flecha" name="arrow-back" (click)="dismiss()"></ion-icon>
      {{"add score" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="puntos" (ngSubmit)="actualizarFormulario()">
    <ion-item>
      <ion-label>{{"name" | translate}} </ion-label>
      <ion-input formControlName="nombre">{{nombre}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{"surname" | translate}} </ion-label>
      <ion-input formControlName="apellido">{{apellido}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label>P1</ion-label>
      <ion-input type="number" formControlName="p1"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>P2</ion-label>
      <ion-input type="number" formControlName="p2"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>P3</ion-label>
      <ion-input type="number" formControlName="p3"></ion-input>
    </ion-item>
    <ion-button type="submit">{{"safe" | translate}} </ion-button>
    <!-- <ion-button (click)="dismiss()">Cancelar</ion-button> -->
  </form>
</ion-content>